/*================= Responsive Section ===============*/
@media (min-width: 1025px){
header.navigation .menu-bar .navbar li:hover .dropdown::after{transform: rotate(90deg);}
header.navigation .menu-bar .navbar li ul li:hover .dropdown::after{    transform: translateY(-40%);}
}

@media (min-width: 768px) and (max-width: 1024px) {
	header.navigation .menu-bar .navbar li a{ margin: 0 10px;}

}
@media (max-width: 991px) {
main {
	flex-direction: column;
	padding: 40px 0;
}
main aside {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
}

@media (max-width: 767px) {
	p {
		font-size: 14px;
		line-height: 22px;
	}
	.container,
	.container-fluid,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	header.navigation {
		display: none;
		visibility: hidden;
	}

	header.mobile-menu {
		display: block;
		visibility: visible;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 0 5px 15px;
	}

	

	.debugger {
		position: absolute;
		left: 50%;
		top: 0;
	}

	/* Mobile menu start*/

	#header {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		height: 4.0625em;
		background: #0B2743;
	}

	#header label {
		padding:0 15px;
		font-size: 32px;
		line-height: 32px;
	}

	#menu label {
		padding:0 15px;
		font-size: 24px;
		line-height: 60px;
		background: #0B2743;
	}

	#menu .sub-nav .toggle {
		padding:0 10px;
		font-size: 18px;
		top: 0;
		-webkit-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1)
	}

	#menu .sub-nav .toggle svg{fill: #fff;}

	#header label:hover,
	#menu label:hover {
		color: #ccc
	}

	#main-nav-check,
	#menu .sub-nav-check {
		position: absolute;
		top: -9999px;
		left: -9999px
	}

	.toggle {
		position: absolute;
		right: 0;
		cursor: pointer;
		color: #fff;
	}


	#menu,
	#menu .sub-nav {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background: #fff;
		z-index: 9999;
		left: -100%
	}

	.container,
	#menu,
	#menu .sub-nav {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: -webkit-transform .25s ease;
		transition: transform .25s ease
	}

	#menu ul {
		text-decoration: none;
		padding: 0;
		list-style: none;
		margin-top: 60px;
		border-top: 1px solid #dfdfdf
	}

	#menu li {
		border-bottom: 1px solid #dfdfdf
	}

	#menu li a {
		background: #fff;
		display: block;
		font-size: 12px;
		line-height: 30px;
		text-align: left;
		padding: 0 15px;
		color: #fff;
		text-decoration: none
	}

	#menu li a:hover,
	#menu .toggle-sub:hover {
		background: #f1f1f1;
	}

	#menu .sub-nav {
		margin-top: -1px
	}

	#menu .sub-heading {
		margin-top: 60px;
		padding-left: 15px;
		color: #0B2743;
		font-weight: bold;
		text-align: left;
		font-size: 12px;
		line-height: 30px;
		border-top: 1px solid #dfdfdf;
	}

	#menu .sub-heading:before {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		margin-left: -1.3125em;
		background: #dfdfdf;
		display: none;
	}

	#menu .toggle-sub {
		font-size: 18px;
		line-height: 32px;
		color: #444;
		background: transparent;
		float: right;
		margin-top: -1.75em;
		width: 2.25em;
		cursor: pointer;
		text-align: center;
	}

	#main-nav-check:checked~.container,
	#main-nav-check:checked~#menu,
	#menu .sub-nav-check:checked~[id$="-sub"]
	/* matches all elements with id ending "-sub" */

		{
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0)
	}

	.page-content {
		padding: 0 1em 1em;
		max-width: 64em;
		margin: auto
	}

	.page-content:after {
		display: block;
		content: "";
		height: 1px
	}


	code {
		display: block;
		background: #ebebeb;
		font-size: 0.875em;
		padding: 1em 2em;
		overflow-x: scroll;
		white-space: nowrap
	}

	.img-box-area {
		padding: 20px;
	}
	/* .image-area {
		padding: 20px;
	} */
	.img-box-area img{width: 100%;}

	.banner-img{margin-bottom: 40px;}

	/* Mobile menu end*/

	main aside.sidebar-right ul:first-child {
		padding: 0;
		border: none;
	}
	main aside.sidebar-left{border: none; padding: 0;}
	main aside.sidebar-right{height: auto; padding: 0;}
	main .sidebar-middle{margin: 0;}
	main aside.sidebar-left ol > li > a{margin: 5px 0;}

	.main-heading .heading-sub-text {
		padding-right: 10px;
		font-size: 30px;
		line-height: 40px;
	}

	main {
		flex-direction: column;
		padding: 40px 0;
	}

	main aside,
	main section {
		padding: 0;
		margin: 0;
	}


	.banner-img{height: 250px;}
	.general-div {
		margin-bottom: 30px;
	}
	header .input-box {
		width: 94%;
		max-width: 94%;
		height: 40px;
		margin: 0 auto;
		background-color: transparent;
		display: none;
	}

	header .input-box input{background-color: #f0f0f0; width:100%; margin: 0 auto; color: #000; font-size: 14px;}
	header .input-box .search{width: 44px; background-color: #0b2743;}

	.main-heading {
		padding: 40px 0;
	}

	footer .foot-top .foot-top-area .arrow-plc .foot-title .foot-link {
		font-size: 12px !important;
		line-height: 22px !important;
		font-weight: 600 !important;
	}

}