$header-background:#000000;
$h1-color:#033857;
$h2-color:#00648f;
$body-color:#000000;
$main-p:#033857;
$index-content:#000000;
$neon-blue:#6dcff6;
$button-color:#fff;
$button-hov-color:#e94763;
$white-font:#c3d2e5;
$border-light:#c6e3ef;

$highlight: #41e0fd;
$default: #081A2D;
$light: #f8f8f8;
$dark: #0B2743;
$light-1: #c5c5c5;
$light-2: darken($light, 20);
$dark-1: darken($light, 60);
$dark-2: darken($light, 50);


$black: #000;
$white: #FFF;
$red: #4285f4;
$read: #4e4e4e;
$red-dark: #4285f4;

